# Use openssl rand -base64 33 to generate a password
NUXT_SESSION_PASSWORD=a-random-password-with-at-least-32-chars!

NUXT_OAUTH_OIDC_CLIENT_ID=
NUXT_OAUTH_OIDC_CLIENT_SECRET=
NUXT_OAUTH_OIDC_OPENID_CONFIG=https://testid.cerberauth.com/.well-known/openid-configuration
