AUTH_ISSUER="https://testid.cerberauth.com"
AUTH_CLIENT_ID="18eb94a6-3777-4b04-8862-c64d56fd1486"
AUTH_CLIENT_SECRET=""
AUTH_REDIRECT_URI=http://localhost:5173/auth/callback
AUTH_POST_LOGOUT_REDIRECT_URI=http://localhost:5173
